<div class="cont-<%=message.user.id%> h-fit max-w-[50%]  w-fit py-1 px-3 pr-3 border border-black rounded-md mb-3  text-black  ">
    <div class="message-box msg-<%= message.user.id %> flex items-center w-fit max-w-full ">
    
    <% unless message.room.is_private %>
        <h6 class="name"><%= message.user.email %></h6>
    <% end %>

    <div class="max-w-full px-2 w-fit whitespace-normal break-words truncate  " id="messag4ebody"><%= message.body %></div>
    </div>
</div>