<div class="w-screen ">
<% @notif_users.reverse_each  do |user|%>
    <div class="border border-black w-1/2 rounded-md m-auto mt-5 flex items-center justify-evenly  ">

            <div class="flex w-20 h-20 p-4  rounded-full">
                <% if user.image.attached? %>
                    <%= link_to image_tag(user.image,class:"flex object-cover w-auto h-auto min-h-full min-w-full max-h-full  max-w-full rounded-full"),user_path(user.id);%>
                <% else%>
                    <%=  link_to image_tag("account.jpg",class:"flex object-cover w-auto h-auto min-h-full min-w-full max-h-full  max-w-full rounded-full"),user_path(user.id);%>
                 <% end %>
            </div>

            <div class="flex "><p class="font-bold ml-10 my-auto mr-1"><%= user.name %></p><span> accepted your request.</span></div>
             <span class="ml-2 hover:scale-105 duration-200 hover:underline hover:cursor-pointer">  <%= link_to "View Profile",user_path(user.id);%></span>


    </div>
<% end %>
</div>