/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 select {
    
    height: 40px;
    width: 140px;
    margin-left: 20px;
    /* margin-right: 5px; */
    padding-left: 20px;
    color: #185fa7;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid #030303;
    border-radius: 0.25rem;
    padding-left: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

#user_city{
    padding-left: 10px;
}
#user_state{
    padding-left: 10px;
}
#filter{
    padding-left: 10px;
    margin-left: 20px;
}

#interestquery{
    padding-left: 10px;
    /* margin-left: 20px; */
}

#messagebody {
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 5px;
  }


::-webkit-scrollbar {
    display: none;
  }

