<nav class="h-16 bg-black flex items-center justify-between">
    <div class="flex h-14  w-28 items-center justify-center ml-20">
        <%= image_tag "gather-logo.png",class:"object-contain" %>
    </div>
    <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete ,class:"flex border border-black w-36 h-10 mr-10 rounded-md bg-white hover:scale-90 duration-300 hover:bg-red-600 hover:text-white flex items-center justify-center " %> 
   <% end %>  

  

  

 
</nav>